.map-selector {
    width: 12.5%;
    height: 100%;
    max-height: 100%;
    background-color: #2a2a2a;
    border-left: 2px solid white;
    z-index: 0;
    top: 0;
    left: 12.5%;
    position: absolute;
}

.map-sidebar {
    height: 100%;
}
.button-container {
    height: 94.5%;
    overflow: auto;
}
.search-bar {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 100%;
    height: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    box-sizing: border-box;
    overflow: hidden;
}

.button-list {
    display: flex;
    flex-direction: column;
}

.map-button {
    height: 5vh;
    background-color: #2a2a2a;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s ease;
    color: #7a5c3c;
    font-weight:bold;
    font-size:medium;
}

    .map-button:hover {
        background-color: #4a5c4d; /* Slightly lighter on hover */
    }
