<div class="gun-select">
    @foreach (var gun in Guns)
    {
        <button class="gun-button" @onclick="@(() => OnGunSelected.InvokeAsync(gun))">
            @gun
        </button>
    }
</div>

@code {
    [Parameter] public List<string> Guns { get; set; } = new();
    [Parameter] public EventCallback<string> OnGunSelected { get; set; }
}
