@using FoxholeBot.types
<div class="image-button-container">
    <button class="image-button" @onclick="HandleClick">
        <img src="@Src" alt="@Enum.GetName(Strenght)" class="image-button-img" />
        <p>@Enum.GetName(Strenght)</p> 
    </button>
</div>

@code {
    [Parameter] public string Src { get; set; } = string.Empty;
    [Parameter] public WindStrenght Strenght { get; set; }
    [Parameter] public EventCallback<WindStrenght> OnClick { get; set; }
    private async Task HandleClick()
    {
        if(OnClick.HasDelegate){
            await OnClick.InvokeAsync(Strenght);
        }
    }
}
