.bottom-panel {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 50%;
    height: -webkit-fill-available;
    background-color: #2a2a2a;
    border-left: 2px solid white;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map-name {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    color: #7a5c3c;
    font-weight: bold;
    font-size: medium;
}
.wind-table {
    border-collapse: collapse; /* ensures borders merge nicely */
    text-align: center;
    border: 0.1rem solid #7a5c3c; /* outer table border */

}

    .wind-table thead {
        color: green;
        border-bottom: 0.15rem solid #7a5c3c; /* outer table border */
    }
    .wind-table td {
        border: 0.1rem solid #7a5c3c; /* outer table border */
        color: #7a5c3c;
    }
    .wind-table thead.notviable {
        color: red;
    }
