@page "/"
@using foxhole_void_bot.src.frontend.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Foxhole VOID Bot</title>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <link href="/css/foxhole-void-bot.styles.css" rel="stylesheet">
    <style>
        html, body {
           margin: 0;
           overflow: hidden;
            aspect-ratio: 16 / 9;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
   
        <component type="typeof(App)" render-mode="Server" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
