@using FoxholeBot;
@using FoxholeBot.src.Discord
@using FoxholeBot.src.Discord.commands
@using Microsoft.JSInterop
@using foxhole_void_bot.src.frontend.Pages.Components.SideBar
@inherits LayoutComponentBase
@inject DiscordSDK sdk
@inject Microsoft.Extensions.Options.IOptions<AssetOptions> AssetConfig
@inject IJSRuntime JS

<div class="body">

    <SideBar />
    @Body
</div>

@code {
    private string Title => "Foxhole VOID Bot";
    private bool auth = false;


    protected async override void OnInitialized()
    {
        var assetMode = AssetConfig.Value.AssetMode;
        await sdk.Ready();
        if (!auth)
        {

            //await sdk.SendCommand(new AuthenticateCommand());

        }

        auth = true;
    }
}
