@using FoxholeBot;
@using foxhole_void_bot.src.frontend.Pages.Components.SideBar
@inherits LayoutComponentBase
@inject Microsoft.Extensions.Options.IOptions<AssetOptions> AssetConfig
<div class="body">

    <SideBar />
    @Body
</div>

@code {
    private string Title => "Foxhole VOID Bot";

    protected override void OnInitialized()
    {
        var assetMode = AssetConfig.Value.AssetMode;
        Console.WriteLine($"Mode: {assetMode}");
    }
}
