@using System.Globalization
@using FoxholeBot.types
<div class="map-marker" style="@Style"></div>

@code {
    [Parameter] public Coordinate coords { get; set; } // relative X
    [Parameter] public double scale { get; set; }
    [Parameter] public string Color { get; set; } = "green"; // default color #ff3b3b

    private string Style =>
        $"left:{coords.X}px; top:{coords.Y}px; background-color:{Color};width: {(12 / scale).ToString("F2", CultureInfo.InvariantCulture)}px; height: {(12 / scale).ToString("F2", CultureInfo.InvariantCulture)}px; border: {(2 / scale).ToString("F2", CultureInfo.InvariantCulture)}px solid white;";
}
