@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar bg-sidebar">
    <div class="sidebar-header">
        <h2>My App</h2>
        <hr />
    </div>
    <nav>
        <ul class="nav-list">
            <li class="nav-button">
                <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Home</NavLink>
            </li>
        </ul>
    </nav>
</div>
